*.exe
*.pt
*.onnx
*.pyc
*.pth
*.index
*.mp3
*.flac
*.ogg
*.m4a
*.bin
*.wav
*.txt
*.zip
*.png
*.safetensors
*.docx
*.srt
*.csv
*.log
*.nbc
*.nbi

# Virtual env & editor caches
env/
.cursor/
.DS_Store

# App outputs / temp data
ass/
audios/
dataset/
assets/logs
assets/models
assets/weights
assets/binary/
assets/presets/
assets/zluda/
assets/spreadsheet.csv

# Local configs / runtime
main/configs/config.json
